@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'Mulish', sans-serif;
}

@layer components {
  .main-paragraph{
    @apply text-[22px] font-normal
  }
  .container {
    @apply px-[10px] mx-auto;
  }
  .element-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply bg-primary  hover:bg-opacity-70 transition-all duration-300 text-2xl min-w-[200px] py-2 rounded-2xl;
  }
  .input-form{
    @apply shadow-inputshadow  h-[60px]  rounded-2xl  ps-16 relative
  }
  .chatlist-btn{
    @apply text-[15px] text-customgray border-b-2 border-customgray pb-2 leading-4 transition-all
     duration-300 hover:text-customblack hover:border-b-customblack
  }
  .dark-btn{
    @apply bg-dark-primary text-customblack shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] text-2xl rounded-2xl py-1 px-2
  }
     
  
  .input-field{
    @apply placeholder:text-[rgba(184,184,184,1)] focus:placeholder:text-black transition-all duration-200 h-full
     w-full placeholder:duration-200 placeholder:ease-in placeholder:transition-all ease-in focus:outline-none
      outline-none text-xl font-normal text-[rgba(184,184,184,1)] focus:text-black
      
   
  }

  .otp-container{
    @apply flex gap-4
  }
  .otp-container input{
    @apply border-2 border-[rgba(237,235,233,1)] border-solid bg-[rgba(255,255,255,1)] !w-[50px] h-[50px] rounded-full outline-none
     focus:border-[#cdb297] transition-all duration-300
  }
}

.input-form .input-field:focus +img{
  filter: invert(1);
}

body{
  background-color: rgba(252, 250, 248, 1);
}

.shadow{
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.emojis>div{
  width: 300px;
}

.ReactModal__Overlay{
  background-color: rgb(9 9 9 / 75%) !important;
}

/* Create a custom CSS class for the scrollbar container */
 body::-webkit-scrollbar,.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the scrollbar width as desired */
  opacity: 0.5;
  border-radius: 50%;
}

/* Customize the scrollbar track (background) */
 body::-webkit-scrollbar-track,.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change the background color as desired */
  opacity: 0.5;
}

/* Customize the scrollbar thumb (the draggable part) */
body::-webkit-scrollbar-thumb,.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(136, 136, 136, 0.512); /* Change the thumb color as desired */
    opacity: 0.5;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar {
    opacity: 0.3 !important;}

    .text-shadow{
      text-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.25) !important;

    }